[Unit]
Description=Car Service
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/opt/rpi-car-control/run.sh
User=%u
Restart=always
RestartSec=5
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
